.banner{
    background-image: url('../../../public/coccoc.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 36vh;
    width: 100%;
    // position: absolute;
}